.btn.btn-sm.section-header-btn {
	border-radius: 30px;
	height: 34px;
}
.btn.btn-sm.section-header-btn .glyphicon {
	position: relative;
	top: 5px;
}

ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    padding-left: 10px;
}
#stage {
	style="border: 1px solid #ddd;
	overflow-x:hidden;
	transition: all 0.35s ease;
}
#stage,
#stage .table {
	color: #888;
	font-size: 14px;
}
#stage a {
	text-decoration: none;
}
#login-window-container {
	width: 100%;
	height: 100%;
}
#login-window {
	padding: 10px;
	width: 320px;
	border: 1px solid #ddd;
	border-radius: 3px;
	background: #444
}
#login-window-header {
	/*height: 22px;*/
	padding: 10px 0 20px 0;
	font-size: 20px;
	font-weight: bold;
	color: rgb(246, 183, 28);
}
#login-window-body>.form-control {
	background: none;
	color: #ccc;
	border-color: #666;
}

#login-btn {
	color: #888;
	background: none;
	border-color: #888;
	outline: none;
	box-shadow: none;
}

#login-window-header,
#login-btn.btn.btn-default:focus, 
#login-btn.btn.btn-default:hover {
	color: rgb(246, 183, 28);
	border-color: rgb(246, 183, 28);
}

#login-window-footer {
	text-align: right;
	padding: 15px 10px;
}


.view-defaults {
	width: 94%;
	margin-left: auto;
	margin-right: auto;
}

#refresh-btn {
	/*-webkit-font-smoothing: antialiased;*/
	color: #ccc;
}

.undo-remove-field-btn,
.remove-field-btn {
	color: #aaa;
	transition: all 0.35s ease;
}

.version-header {
	font-size: 12px;
}
/*
.version-header tbody>tr>td {
	padding: 5px 5px 10px 5px;
}
*/
.version-header a,
#asset-table tr>td>a,
.section-header,
.section-header > table,
.section-header > table ul>li,
.section-header > table button,
.section-header > table a {
	color: #666;
}
/*
.section-header.rsrc-version,
.section-header.rsrc-version > table,
.section-header.rsrc-version > table ul>li,
.section-header.rsrc-version > table button,
.section-header.rsrc-version > table a {
	color: rgb(246, 183, 28);
}

.rsrc-version,
td.rsrc-version>a:link {
	color: rgb(246, 183, 28);
}
*/

#sidebar {
	position:fixed;
	top:0;left:0;
	bottom:0;
	width:60px;
	background:rgb(246, 183, 28);
	height:100%;
}
#sidebar a {
	color: #444;
}
#sidebar a:hover {
	color: #fff;
}

.section-header > table {
	height: 30px;
	width: 100%;
}

.asset-search-input.form-control {
	outline: none;
	border-color: #ddd;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}

#rsrc-type-search.input-group > input.form-control::-moz-placeholder {
	color: #666;
}
#rsrc-type-search.input-group > input.form-control::-webkit-input-placeholder{
	color: #666;
}

#rsrc-type-search.input-group > input.form-control {
	box-shadow: none;
	color: #ddd;
	background:none;
	border:none;
	padding-left:20px;
	border-radius: 0;
}

#rsrc-type-search:hover {
	box-shadow: inset 0 2px 2px rgba(0,0,0,0.35);
}

input.form-control.dynamic-input,
textarea.form-control.dynamic-input {
	border-radius: 3px !important;
	resize:none;
	font-family:Menlo,Monaco,Consolas,'Courier New',monospace;
	box-shadow: none;
	border: 1px solid transparent;
	background: none;
}

input.form-control.dynamic-input:hover,
textarea.form-control.dynamic-input:hover{
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	border: 1px solid #ccc;
	resize:vertical;
}

input.form-control.dynamic-input:focus,
textarea.form-control.dynamic-input:focus {
	border-color: #66afe9;
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
    resize:vertical;
}

input.form-control.ng-invalid.ng-invalid-dynamic-input,
textarea.form-control.ng-invalid.ng-invalid-dynamic-input {
	border-color: #a94442 !important;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(169,68,66,.6);
}

table.editable-table tr a.remove-field-btn {
	opacity: 0;
	transition: all 0.35s ease;
}
table.editable-table tr:hover a.remove-field-btn {
	opacity: 1;
}

#notification-pane {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
}

/*.c3-chart-arc>.c3-shapes>path,*/
.c3 .c3-axis-x path, 
.c3 .c3-axis-x line,
.c3 .c3-axis-y path, 
.c3 .c3-axis-y line,
.c3-axis>.tick line {
	stroke: #888;
}
.c3-chart-arc text {
	fill: #f0f0f0;
}
.c3-chart-arcs-title,
.c3-legend-item text,
.c3-axis>.tick text {
	fill: #888;
}
.graphs-panel {
	color: #888;
	border-radius: 4px 0 0 4px;
	margin:0 10px;
}

.code-block {
	font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
	color: rgb(246, 183, 28);
	padding: 10px;
	border-radius: 0;
	border: 1px solid #555;
	margin: 0;
	background: #666;
}
.code-block.details {
	width:100%;
	height:100%;
	border-left: none;
	border-radius: 0 3px 3px 0;
}

.asset-type-list >.list-group-item:focus,
.asset-type-list >.list-group-item:active,
.asset-type-list >.list-group-item {
	color: #ccc;
	background: none;
	border-radius: 0;
	padding: 10px 20px;
	border:none;
}

.asset-type-list >.list-group-item:hover {
	background: #555;
}

.root-chart {
	height: 275px;
}

#type-list-refresh-btn {
	color: #999;
	font-weight: bold;
}
.versions-ctrl-btn {
	font-size: 14px;
	cursor: default;
}

.version-header a:hover,
.versions-ctrl-btn:hover,
ul>li>a.property-visible,
.btn.rsrc-ctrl-btn:hover,
.undo-remove-field-btn:hover,
.remove-field-btn:hover,
.section-header > table a:hover,
#refresh-btn:hover,
#asset-table tr>td:hover>a,
.asset-table-header:hover,
.asset-type-list >.list-group-item:hover,
#type-list-refresh-btn:hover {
	color:rgb(246, 183, 28);
}

.btn.rsrc-ctrl-btn {
	color: #666;
	border: none;
	background: none;
	outline: none;
	box-shadow: none;
}

.btn.btn-default.rsrc-ctrl-btn:active,
.btn.btn-default.rsrc-ctrl-btn:focus {
	outline: none;
	box-shadow: none;
	background: none;
}

/* Asset listing */
table>tbody>tr>th.asset-table-header {
	transition: all 0.35s ease;
	border-top:none;
	cursor:default;
	padding: 10px 20px;
}

.section-header {
	padding:10px 0px;
	font-size: 18px;
}
/* Cluster info */
td.master-node {
	border-left: 5px solid #428bca;
}
.list-group-item.primary-shard {
	color: #428bca;
}
.list-group.shards-list > .list-group-item {
	border-left: none;
	border-right:none;
	background: none;
}
.list-group.shards-list > .list-group-item:first-child {
	border-top: none;
}
.list-group.shards-list > .list-group-item:last-child {
	border-bottom: none;
}

table#cluster-info td {
	border-top: none;
}
.auth-enabled,
.cluster-status.green {
	color: #5cb85c;
}
.cluster-status.yellow {
	color: #f0ad4e;
}
.auth-disabled,
.cluster-status.red {
	color: #d9534f;
}

.btn.btn-sm.btn-default.diff-btn {
	border-radius:50px;
	background: none;
	color: #666;
}

.btn.btn-sm.btn-default.diff-btn,
.btn.btn-sm.btn-default.diff-btn:hover,
.btn.btn-sm.btn-default.diff-btn:active,
.btn.btn-sm.btn-default.diff-btn:focus {
	outline: none;
}

.btn.btn-sm.btn-default.diff-btn:focus,
.btn.btn-sm.btn-default.diff-btn:active,
.btn.btn-sm.btn-default.diff-btn:hover{
	color: rgb(246, 183, 28);
	border: 1px solid rgb(246, 183, 28);
}
