<div class="section-header">
    <table><tr>
        <td class="text-left">
            <span>Asset Types </span>
            <span style="color:#fff;background:#ccc;font-size:11px;font-weight:bold;margin:10px 0 10px 10px;padding:3px 7px;border-radius:30px">{{assetTypes.length}}</span>
        </td>
        <td class="text-right"><img src="imgs/loading.gif" ng-if="isRefreshing"></td>
        <td class="text-right">
            <a class="btn btn-sm section-header-btn" href="javascript:void(0)" title="New Type" ng-if="isAdmin">
                <span class="glyphicon glyphicon-plus"></span>
            </a>
            <a class="btn btn-sm section-header-btn" href="javascript:void(0)" ng-click="refreshAssetTypeList()">
                <span class="glyphicon glyphicon-refresh"></span>
            </a>
        </td>
    </tr></table>
</div>
<div style="margin-bottom:8px">
   <input type="text" ng-model="assetTypeFilter" placeholder="Search" class="form-control asset-search-input" style="border-radius:40px;">
</div>
<div class="list-group asset-type-list">
    <a href="#/{{assetType.name}}" class="list-group-item" ng-repeat="assetType in assetTypes|filter:assetTypeFilter" ng-class="{'active-asset-type': assetType.name == activeAssetType}">
        <span>{{assetType.name}}</span>
        <span class="badge" style="background-color:#cecece">{{assetType.count}}</span>
    </a>
</div>