<div class="row" style="margin:0">
    <div class="col-md-3" style="padding:0">
        <div asset-type-list></div>
    </div>
    <div class="col-md-9" style="padding:0">
        <div style="margin-left:15px;">
            <div class="section-header text-right" style="padding-left:0;padding-right:0">
                <table><tr>
                    <td style="padding-left:10px">{{assetType}}</td>
                    <td class="text-right small">
                        <!--<a title="New {{assetType}}" class="btn btn-sm section-header-btn" ng-if="session!=null"><span class="glyphicon glyphicon-plus"></span></a>-->
                        <span class="dropdown btn btn-sm section-header-btn" title="{{assetType}} Properties">
                            <span class="dropdown-toggle" data-toggle="dropdown">
                                <a href="javascript:void(0)"><span class="glyphicon glyphicon-th-list"></span></a>
                            </span>
                            <ul class="dropdown-menu dropdown-menu-right" style="margin-top:5px">
                                <li ng-repeat="prop in typeProperties"  class="small" style="font-weight:normal;padding:2px 10px">{{prop}}</li>
                            </ul>
                        </span>
                    </td>
                </tr></table>
            </div>
            <div style="margin:0 10px 8px 5px">
                <table style="width:100%"><tr>
                    <td>
                        <input type="text" placeholder="Search" ng-model="assetSearch" class="form-control" ng-change="searchForAsset()" style="border-radius:40px;">
                    </td>
                    <td class="text-right small" style="width:275px">
                        <span style="padding:0 10px;">Limit</span>
                        <span class="dropdown">
                            <button class="dropdown-toggle btn btn-default btn-sm" data-toggle="dropdown">
                                <span style="padding-right:10px">{{queryLimit}}</span><span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" style="margin-top:10px">
                                <li ng-repeat="limit in [1000,2000,5000,'None']">
                                    <a href="javascript:void(0)" ng-click="setQueryLimit(limit)">{{limit}}</a>
                                </li>
                            </ul>
                        </span>
                        <span style="padding:0 10px;">Showing</span>
                        <span class="dropdown">
                            <button class="dropdown-toggle btn btn-default btn-sm" data-toggle="dropdown">
                                <span style="padding-right:10px">{{searchResultLimit}}</span><span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" style="margin-top:10px">
                                <li ng-repeat="limit in [100,250,500,1000]" >
                                    <a href="javascript:void(0)" ng-click="setSearchLimit(limit)">{{limit}}</a>
                                </li>
                            </ul>
                        </span>
                    </td>
                    <td class="text-right" style="width:100px">
                        <span style="font-size:11px;color:#999">Loaded : {{searchResults.length}}</span>
                    </td>
               </tr></table>
            </div>
            <div ng-if="searchLoading" style="padding:20px 0" class="text-center"><img src="imgs/loading.gif"></div>
            <table style="width:100%;" class="table" ng-if="searchResults.length>0" id="asset-table">
                <tr>
                    <th></th>
                    <th class="asset-table-header" ng-click="sortBy='id'; reverseSort=!reverseSort">
                        ID <span ng-class="{'dropup': reverseSort && sortBy == 'id'}"><span class="caret"></span></span>
                    </th>
                    <th class="asset-table-header text-center" ng-click="sortBy='data.status'; reverseSort=!reverseSort">
                        Status <span ng-class="{'dropup': reverseSort && sortBy == 'data.status'}"><span class="caret"></span></span>
                    </th>
                    <th class="asset-table-header text-center" ng-click="sortBy='data.environment'; reverseSort=!reverseSort">
                        Environment <span ng-class="{'dropup': reverseSort && sortBy == 'data.environment' }"><span class="caret"></span></span>
                    </th>
                    <th class="asset-table-header text-right" ng-click="sortBy='timestamp'; reverseSort=!reverseSort">
                        Updated At <span ng-class="{'dropup': reverseSort && sortBy == 'timestamp' }"><span class="caret"></span></span>
                    </th>
                </tr>
                <tr ng-repeat="result in searchResults|orderBy:sortBy:reverseSort|limitTo:searchResultLimit">
                    <td class="small">{{$index+1}}</td>
                    <td><a href="#/{{assetType}}/{{result.id}}">{{result.id}}</a></td>
                    <td class="text-center"><span ng-class="{'status-warning': result.data.status == 'unknown'}">{{result.data.status}}</span></td>
                    <td class="text-center">{{result.data.environment}}</td>
                    <td class="text-right small">{{result.timestamp|date:'HH:mm:ss MMM dd, yyyy'}}</td>
                </tr> 
            </table>
        </div>
    </div>
</div>