<div class="section-header" style="position:fixed;top:0;left:360px;right:0;background:#fff;z-index:1;padding:20px;">
    <table><tr>
        <td style="font-weight:bold">
            <a style="padding-left:10px;" href="#/{{asset.type}}">{{asset.type}}</a> /<a ng-if="asset.data.version" href="#/{{asset.type}}/{{asset.id}}"> {{asset.id}}</a><span ng-if="!asset.data.version"> {{asset.id}}</span>
        </td>
        <td ng-if="asset.data.version"><b>Version : {{asset.data.version}} </b></td>
        <td class="text-center" style="font-size:11px">
            <span>Updated By : </span><span style="color:#999;margin-right:10px;">{{asset.data.updated_by}}</span>
            <span>Last Updated : </span><span style="color:#999">{{asset.timestamp|date:'HH:mm:ss MMM dd, yyyy'}}</span>
        </td>
        <td class="text-right">
            <button class="btn btn-default rsrc-ctrl-btn">
                <a href="#/{{asset.type}}/{{asset.id}}/versions">
                    <div class="glyphicon glyphicon-fa fa fa-clone"></div>
                    <div style="font-size:10px">Versions</div>
                </a>
            </button>
            <span ng-if="canEditResource()">
                <button class="btn btn-default rsrc-ctrl-btn" ng-click="upsertAsset()">
                    <div class="glyphicon glyphicon-save"></div>
                    <div style="font-size:10px">Save</div>
                </button>
                <button class="btn btn-default rsrc-ctrl-btn" data-toggle="modal" data-target="#delete-asset-modal" title="Delete">
                    <div class="glyphicon glyphicon-trash"></div>
                    <div style="font-size:10px">Delete</div>
                </button>
            </span>
        </td>
    </tr></table>
</div>

<div class="row" style="margin:80px 0 0 0">
    <div class="col-md-12" style="padding:0 30px 0 30px;">
        <div style="margin-bottom:15px">
            <div ng-if="!canEditResource()">
                <table style="width:100%;font-size:13px;" class="table table-condensed table-bordered">
                    <tr ng-repeat="(attr, val) in asset.data">
                        <td style="color:#666;vertical-align:middle;white-space:nowrap">{{attr}}</td>
                        <td><pre style="margin:0;border:none;background:none;color:#666;">{{val|json:pretty}}</pre></td>
                    </tr>
                </table>
            </div>
            <div ng-if="canEditResource()">
                <table style="width:100%;" class="table table-condensed table-bordered editable-table">
                    <tr ng-repeat="(attr, val) in asset.data" ng-class="{danger: fieldSetToDelete(attr)}">
                        <td style="color:#666;vertical-align:middle;white-space:nowrap;padding-left:10px">
                            <span ng-if="isFieldDeletable(attr)" style="position:absolute;left:8px">                
                                <span ng-switch="fieldSetToDelete(attr)">
                                    <a ng-click="undeleteField(attr)" href="javascript:void(0)" class="undo-remove-field-btn" ng-switch-when="true"><span class="glyphicon glyphicon-repeat" style="transform: rotateY(180deg)"></span></a>
                                    <a ng-click="deleteField(attr)" href="javascript:void(0)" class="remove-field-btn" ng-switch-default><span class="glyphicon glyphicon-remove"></span></a>
                                </span>
                            </span>
                            <span>{{attr}}</span>
                        </td>
                        <td ng-switch="attr" style="padding:0;vertical-align:middle">
                            <span ng-switch-when="updated_by" style="padding:0 5px">{{val}}</span>
                            <span ng-switch-when="created_on" style="padding:0 5px">{{val|date:'HH:mm:ss MMM dd, yyyy'}}</span>
                            <span ng-switch-when="created_by" style="padding:0 5px">{{val}}</span>
                            <span ng-switch-default>
                                <select ng-if="enforcedFields[attr]&&enforcedFields[attr]!=null" ng-options="field for field in enforcedFields[attr]" ng-model="asset.data[attr]" class="form-control input-sm"></select>
                                <textarea ng-if="enforcedFields[attr]==undefined && isFieldValueObject(val)" type="text" class="form-control dynamic-input" ng-model="asset.data[attr]" dynamic-input></textarea>
                                <input ng-if="enforcedFields[attr]==undefined && !isFieldValueObject(val)" type="text" class="form-control dynamic-input" ng-model="asset.data[attr]" dynamic-input></input>
                            </span>
                        </td>
                    
                    </tr>
                </table>
            </div>
            <div class="row" style="margin:0" ng-if="canEditResource()">
                <div class="col-md-6 text-left" style="padding:0">
                    <button title="Save" class="btn btn-default rsrc-ctrl-btn" ng-click="upsertAsset()" >
                        <div class="glyphicon glyphicon-save"></div>
                        <div style="font-size:10px">Save</div>
                    </button>
                    <button class="btn btn-default rsrc-ctrl-btn" data-toggle="modal" data-target="#delete-asset-modal" title="Delete">
                        <div class="glyphicon glyphicon-trash"></div>
                        <div style="font-size:10px">Delete</div>
                    </button>
                </div>
                <div class="col-md-6 text-right" style="padding:0">
                    <button class="btn btn-default rsrc-ctrl-btn" data-toggle="modal" data-target="#add-field-modal">
                        <div class="glyphicon glyphicon-plus"></div>
                        <div style="font-size:10px">Property</div> 
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="add-field-modal">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">New <span style="color:#666">{{asset.type}}</span> field</h4>
      </div>
      <div class="modal-body">
        <div class="input-group">
            <span class="input-group-addon" style="background:none;border:none;">Name</span>
            <input type="text" class="form-control" ng-model="newFieldName" style="border-radius:4px;">
        </div>
        <div style="padding:2px;"></div>
        <div class="input-group">
            <span class="input-group-addon" style="background:none;border:none;padding-right:18px">Type</span>
            <select class="form-control" ng-options="t for t in ['String','Number','Object']" ng-model="newFieldType"></select>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" ng-click="addNewField()">Add</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="delete-asset-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Deleting <span style="color:#666">{{asset.type}} / {{asset.id}}</span></h4>
      </div>
      <div class="modal-body">Are you sure you want to delete {{asset.id}}?</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-danger" ng-click="deleteAsset()">Delete</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="new-rsrc-id-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">New <i>{{asset.type}}</i> resource</h3>
      </div>
      <div class="modal-body">
            <h4>
                <div style="padding:0 5px">ID of <i>{{asset.type}}</i></div>
            </h4>
            <div style="padding:5px"></div>
            <div>
                <input type="text" class="form-control input-lg" placeholder="{{asset.type}} id" ng-model="newResourceId" enter-submit action="setNewResourceId()" style="border-color:#666;color:#ccc;background:#555" resource-id-input required>
            </div>
            <div style="padding:5px"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default btn-lg" id="set-rsrc-id-btn"  ng-click="setNewResourceId()">
            <span style="padding-right:10px;">Continue</span><span class="glyphicon glyphicon-arrow-right"></span>
        </button>
      </div>
    </div>
  </div>
</div>